form{
    margin: 20px 0;
}
form input, button{
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px; 
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid lightgray;
}
table th, table td{
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background: lightgray;
  }

  th {
      background: #2BAE66FF;
      color: #FCF6F5FF;
  }

.header {
    background-color: #2BAE66FF;
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.inline input {
    margin: 5px;
}

#submitButton {
    width: fit-content;
    float: right;
    background-color: #2BAE66FF;
    color: #FCF6F5FF;
}

input {
    width: fit-content;
    border-color: #2BAE66FF;
}

h2 {
    color: #2BAE66FF;
}

/* Island Green (#2BAE66FF) and White (#FCF6F5FF) */